h1 {
	font-size: 1.5rem;
	line-height: var(--sl-line-height-headings);
	font-weight: 400;
	font-family: 'IBM Plex Sans Condensed';
	color: #ffffff;
	font-style: italic;
}

.t1 {
	font-size: 2rem;
	line-height: var(--sl-line-height-headings);
	font-weight: 100;
	font-family: 'IBM Plex Sans';
	color: rgb(240, 240, 240);
}

.t2 {
	padding-top: 1rem;
	font-size: 1.2rem;
	line-height: 1.5rem;
	font-weight: 200;
	font-family: 'IBM Plex Sans Condensed';
	color: #e9e9e9;
}

@media (max-width: 767px) {
	h1 {
		font-size: 2rem;
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
}

:root {
	--sl-content-width: 100000rem;
	width: 100%;
}

@media (max-width: 72rem) {
	:root {
		width: 100%;
	}
}

:root {
	--sl-sidebar-width: 0rem;
	/* Offset required to show outline inside an element instead of round the outside */
	--sl-outline-offset-inside: -0.1875rem;
}

.left-image {
	position: relative;
	left: 0;
	zoom: 15%;
}

.content-panel li {
	font-size: 15px;
	margin-left: -1rem;
}

.content-panel li::marker {
	content: '–  ';
}

.content-panel ol {
	list-style: none;
	padding-left: 24px;
	margin-left: 0;
}

.content-panel li[role='presentation']::marker {
	content: '';
}

.content-panel li[class='directory']::marker {
	content: '';
}

.content-panel li[class='file']::marker {
	content: '';
}

.long-text {
	width: 40%;
	margin-left: 0px;
}
